---
- name: Start Necessary Services
  sysvinit:
    name: "{{ item }}"
    state: started
    enabled: yes
    runlevels:
      - 3
      - 4
      - 5
  loop:
    - sshd
    - httpd
    - mysqld
    - php-fpm

- name: Extract web app
  unarchive:
    src: website.tar.gz
    dest: /var/www/html


