---
- name: "You got broke stuff? I fix"
  shell: "nohup /var/ossec/bin/ossec-authd -p 1515 -n"
  delegate_to: "{{ ossec_fqdn }}"

- name: "register client"
  shell: "/var/ossec/bin/agent-auth -m {{ ossec_ip }} -p 1515 -A '{{ ossec_agent_name|default(ansible_hostname) }}'"

- name: Set permissions on client.keys file
  file:
    dest: /var/ossec/etc/client.keys
    mode: 0640

- name: Get running processes
  shell: "ps -aux | grep -v grep | grep -w ossec-authd | awk '{print $2}'"
  register: running_processes
  delegate_to: "{{ ossec_fqdn }}"

- name: Kill running processes
  shell: "kill {{ item }}"
  with_items: "{{ running_processes.stdout_lines }}"
  delegate_to: "{{ ossec_fqdn }}"

- name: "Restart ossec-remoted on server. If this is the first agent added it will not be running."
  shell: /var/ossec/bin/ossec-control restart
  delegate_to: "{{ ossec_fqdn }}"
  when: ossec_managed_server and not check_server_keys.stat.exists and ossec_fqdn|default("") != ""
  run_once: true