<!DOCTYPE html>
<html>

<style>
body {
  background-color: linen;
}

h1 {
  color: Maroon;
  outline: Black;
  text-align: center;
} 
</style>

<body>

<!--
TODO:
- make the page look prettier
- figure out if cell-phones and computers count as alarm clocks (or complex Rube Goldberg machines) and should we ban those too?
- what about the roosters??? Will this position alienate farmers?
- will bonemeal make trees go faster? Need to allocate funds for testing
- Figure out legal reprecussions for dangerous individuals illegally manufacturing high-voltage beds. See: https://www.youtube.com/watch?v=EVzn1pl4nlo 
-->

<h1>Official Team {{ team_id }} Political Campaign Website</h1>

<h2>Thank you for visiting!</h2>

<p>
Within this page, we hope you will find all necessary information to help you make the correct choice this election. Our political positions are listed below - they are far better than those running against us!
</p>

<h3>Important Political Positions</h3>

<dl>
  <dt>No more alarm clocks!</dt>
  <dd>- When you get down to it, time is just a social construct designed to keep you moving at a speed comfortable for everyone else. This is unacceptable! We will work with businesses to stop the manufacture of alarm clocks. </dd>
  <dt>The sun also rises (two hours later)</dt>
  <dd>- We here in Team {{ team_id }} have had enough of the bright, burning, blistering, bulb of brilliance. While we can't stop the sun from rising, we will make a strong case that it should wait an extra two hours to do so.</dd>
  <dt>Goodnight moon</dt>
  <dd>- The moon shines too brightly. Goodnight, moon, you should go to sleep too! Vote for us and we will make the moon shine less brightly at night, so that you can sleep better. </dd>
  <dt>9 in the Afternoon should be a time</dt>
  <dd>- Too many songs refer to late times of the day as being in the afternoon. Instead of changing classics, we propose to move the sunset two hours back. </dd>
  <dt>Cut down tree growth!</dt>
  <dd>- Trees take too long to grow. This needs to be cut down. How can we keep a beautiful, lush environment if we can't grow trees quickly?</dd>
  <dt>Time flows, but does your hourglass?</dt>
  <dd>- There has been great debate on if glass is a solid, a liquid, or something else entirely. When elected, we will construct a committee designed to answering this essential question: What is glass?</dd>
</dl>

<h3>Get Involved!</h3>
<p>
A political campaign is nothing without its constituents. Tell all of your friends about Team {{ team_id }}, point them to our website, print this as a flyer, nail it to your neighbor's door, buy a billboard, advertise at the SuperBowl, call your friends, call your family, rent out the Times Square TVs, talk to your kids, discuss Team {{ team_id }} at work, buy a blimp, call the police, call your representatives, call your cousins, email everyone you can think of! The more word that gets out, the better our odds are this election.
</p>
</body>
</html>
