---
- name: Yum update
  yum:
    name: '*'
    state: latest
  when: ansible_distribution == 'CentOS'

- name: Yum install epel
  package:
    name: epel-release
    state: present

- name: Yum install stuff
  package:
    name: 
      - epel-release
      - vim
      - htop
      - perl-Digest-MD5
      - curl
    state: present

# If you want epel you need to fix nginx as you get a version miss match
#https://nopistash.wordpress.com/2018/05/03/centos7-nginx-conflicting-module-versions/
# The perl is so that ossec-batch-manager.pl works which is used on at least the windows clients

- name: Disable FirewallD
  service:
    name: firewalld
    state: stopped
    enabled: no