---
- name: Download RPM
  yum:
    name: https://packages.graylog2.org/repo/packages/graylog-2.3-repository_latest.rpm
    state: present

- name: Install/Setup Graylog
  package:
    name:
      - graylog-server
      - pwgen
    state: present

# - name: Covert password to sha256 hash
#   shell: "echo -n {{ graylog_admin_password }} | sha256sum | awk '{print $1}'"
#   register: pass_contents

#- name: Set admin password
#  lineinfile:
#    path: /etc/graylog/server/server.conf
#    regexp: '^root_password_sha2 ='
#    line: "root_password_sha2 = {{ pass_contents.stdout }}"

# - name: Generate secret key
#   shell: "pwgen -s 96 1"
#   register: secret_key_content

#- name: Set secret key
#  shell: sed -i -e "s/password_secret =.*/password_secret = {{ secret_key_content.stdout }}/" /etc/graylog/server/server.conf

- name: Drop me config in
  template:
    src: server.conf
    dest: /etc/graylog/server/server.conf
  notify: Restart Graylog

- name: Enable Graylog service
  service:
    name: graylog-server
    enabled: yes