---
- name: "Wait for my boi to come up"
  uri:
    url: "https://{{ ossec_fqdn }}"
    status_code: 200
    validate_certs: no
  register: result
  until: result.status == 200
  retries: 60
  delay: 5

- name: Get node id
  uri:
      url: https://{{ ossec_fqdn }}/api/cluster
      method: GET
      validate_certs: no
      user: admin
      password: "{{ graylog_admin_password }}"
  register: nodeid

- name: Add Syslog input
  uri:
      url: https://{{ ossec_fqdn }}/api/system/inputs
      method: POST
      status_code: 201
      validate_certs: no
      body_format: json
      user: admin
      password: "{{ graylog_admin_password }}" 
      body: 
        title: "Ossec syslog"
        type: "org.graylog2.inputs.syslog.udp.SyslogUDPInput"
        global: false
        configuration: 
          port: 1516
          recv_buffer_size: 262144
          tls_enable: false, 
          bind_address: "0.0.0.0"
        node: "{{ nodeid.x_graylog_node_id }}"
      headers:
        Content-Type: "application/json"

- name: Install atomicorp repo
  yum:
    name: https://updates.atomicorp.com/channels/atomic/centos/7/x86_64/RPMS/atomic-release-1.0-21.el7.art.noarch.rpm
    state: present

- name: Install ossec-hids-server
  package:
    pkg: "{{ item }}"
    state: present
  with_items:
    - ossec-hids
    - ossec-hids-server

- name: Install CIS Root Checks
  get_url:
    url: "https://raw.githubusercontent.com/ossec/ossec-hids/master/src/rootcheck/db/cis_rhel7_linux_rcl.txt"
    dest: "/var/ossec/etc/shared/cis_rhel7_linux_rcl.txt"
    mode: 0660
    owner: root
    group: ossec

- name: Generate SSL files
  command: "openssl req -x509 -sha256 -nodes -days 365 -newkey rsa:1825 -keyout sslmanager.key -out sslmanager.cert -subj /CN={{ ossec_fqdn }}/"
  args:
    creates: sslmanager.cert
    chdir: /var/ossec/etc/

- name: Installing SSL files.
  file:
    path: /var/ossec/etc/{{ item }}
    owner: root
    group: root
    mode: 0660
  with_items:
    - sslmanager.key
    - sslmanager.cert

- name: Configure the shared-agent.conf
  template:
    src: ossec_agent.conf
    dest: /var/ossec/etc/shared/agent.conf
    owner: ossec
    group: ossec
    mode: 0644
  notify:
    - restart ossec-server

- name: Configure the ossec-server
  template:
    src: ossec-server.conf
    dest: /var/ossec/etc/ossec-server.conf
    owner: root
    group: root
    mode: 0644
  notify:
    - restart ossec-server

- name: Move the thing that does things for windows
  copy:
    src: ossec-batch-manager.pl
    dest: /var/ossec/bin/ossec-batch-manager.pl
    owner: ossec
    group: ossec
    mode: a+x

- name: start meeeeee
  service:
    name: ossec-hids
    state: restarted
    enabled: yes
